{% extends 'base.html.twig' %}

{% block body %}
<main role="main">

    <section class="jumbotron">
        <div class="container">
            <h1 class="jumbotron-heading">Add image</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>

    {% if images.nbResults > 0 %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for image in images.currentPageResults %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ image|thumbnail }}" alt="{{ image.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ image.title|capitalize }}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary js-show-image" data-url="{{ path('image_show', {'id': image.id}) }}">View  <span class="badge badge-secondary">{{ image.views }}</span></button>
                                    <a href="{{ path('image_download', {'id': image.id}) }}" class="btn btn-sm btn-outline-secondary">Download <span class="badge badge-secondary">{{ image.downloads }}</span></a>
                                </div>
                                <small class="text-muted">{{ image.createdAt ? image.createdAt|date('Y-m-d H:i:s') : '' }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if images.haveToPaginate %}
                <nav aria-label="Page navigation">
                    {{ 
                        pagerfanta(images, 'twitter_bootstrap4', { 
                            css_container_class: 'pagination justify-content-center', 
                            prev_message: 'Previous',
                            next_message: 'Next',
                            routeName: 'image_index_paginated', 
                            routeParams: app.request.query.all
                        })
                    }}
                </nav>
            {% endif %}
        </div>
    </div>
    {% endif %}

</main>

<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showModalLabel">View image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}
