{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <img src="{{ src }}" alt="{{ image.title }}">

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ image.title }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ image.views }}</td>
            </tr>
            <tr>
                <th>Downloads</th>
                <td>{{ image.downloads }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ image.createdAt ? image.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('image_index') }}">back to list</a>

    <a href="{{ path('image_download', {'id': image.id}) }}">download</a>

{% endblock %}
